.op-header-cover {
  background: rgba(63, 63, 63, 0.09);
  padding: 2% 8%;
}

.op-header {
  background: url('./../../../../assets/img/hero.png');
  min-height: 600px;
  background-size: cover;
}

.op-main-head {
  font-size: 1.5em;
  font-weight: 400;
}

.op-main-head-highlight {
  color: #0091EA !important;
  font-weight: bold;
}

.op-main-signup-form{
  margin-top: 4%;
  padding-top: 10%;
}