.op-spacer{
  flex: 1 1 auto;
}

mat-toolbar{
  min-height: 52px;
  height: 54px;
  font-family: inherit;
}

.op-header-cover {
  background: rgba(63, 63, 63, 0.09);
  padding: 2% 8%;
}

.op-header {
  background: url('./../../../../assets/img/hero.png');
  min-height: 600px;
  background-size: cover;
}

.op-main-head {
  font-size: 1.5em;
  font-weight: 400;
}

.op-main-head-highlight {
  color: #ff0266 !important;
  font-weight: bold;
}

.op-main-head-button{
  padding: 1%;
  font-size: 1.2em;
  font-family: inherit;
  font-weight: 400;
}

.op-main-signup-form{
  margin-top: 4%;
  padding: 8% 0%;
}