<div fxLayout="column">
  <div fxFlex>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Opinionize</span>
        <span class="op-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxFlex class="op-header" fxLayout>
    <div fxFlex class="op-header-cover" fxLayout>
      <div fxFlex="67" fxLayout>
        <div fxLayout="column" fxFlex>
          <h1 align="left" class="op-main-head">
            Because
            <span class="op-main-head-highlight">O</span>pinions and
            <span class="op-main-head-highlight">F</span>riends,
            <br/> both
            <span class="op-main-head-highlight">M</span>atter!
          </h1>
          <div fxLayout>
            <button mat-raised-button color="primary" fxFlex="50" class="op-main-head-button">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>