<div fxLayout="column">
  <div fxFlex class="op-header" fxLayout>
    <div fxFlex class="op-header-cover" fxLayout>
      <div fxFlex="35" fxLayout>
        <mat-card fxLayout="column" fxFlex class="op-main-signup-form">
          <h1 align="center" class="op-main-head">
            Because
            <span class="op-main-head-highlight">O</span>pinions and
            <span class="op-main-head-highlight">F</span>riends,
            <br/> both
            <span class="op-main-head-highlight">M</span>atter!
          </h1>
          <app-signup-form></app-signup-form>
        </mat-card>
      </div>
    </div>
  </div>
</div>