<div fxLayout fxFlex="90" fxFlexOffset="5">
  <div fxLayout fxFlex="25">
    <mat-card fxLayout="column" fxFlex class="op-idea-cards">
      <img src="https://i.gyazo.com/6966fddddd180a7e506d9b80b85aa28a.jpg"
        alt="" class="op-idea-card-author-image" />
      <div fxLayout="column" fxFlex class="op-idea-card-data">
        <h3 class="op-idea-card-head">TWEET RAND</h3>
        <small class="op-idea-card-description">Application to tweet random stuff</small>
      </div>
      <div fxLayout fxFlex class="op-engagements" fxLayoutAlign="center center">
        <div fxFlex="33" class="op-engagement-icon">
          <i class="zmdi zmdi-comments zmdi-hc-lg"></i>
          <p>25</p>
        </div>
        <div fxFlex="33" class="op-engagement-icon">
          <i class="zmdi zmdi-thumb-up zmdi-hc-lg green"></i>
          <p>100</p>
        </div>
        <div fxFlex="33" class="op-engagement-icon">
          <i class="zmdi zmdi-thumb-down zmdi-hc-lg red"></i>
          <p>5</p>
        </div>
      </div>
      <div fxLayout="column" fxFlex="12" class="op-idea-card-btn">
        <button mat-stroked-button color="primary" fxFlex>VIEW OPINIONS</button>
      </div>
    </mat-card>
  </div>
</div>