.op-idea-detail-head-img {
  min-height:200px;
  height:300px;
}

mat-card {
  margin-top:20px;
  padding: 0;
  font-family: inherit !important;
}

.op-idea-detail-heading {
  text-align: center;
  margin-top: 30px;
}

.op-idea-detail-description {
  font-size: 0.7em !important;
  font-weight: 400;
  font-style: italic;
}