@import './../theme/opinionize-theme';

.op-spacer{
  flex: 0.77 1 auto;
}

.op-spacer-logo {
  flex: 0.115 1 auto;
}

mat-toolbar{
  min-height: 52px;
  height: 54px;
  font-family: inherit !important;
}

button {
  font-family: inherit !important;
}

.op-profile-toggle-img, .op-profile-toggle-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.op-profile-toggle-btn {
  padding: 0;
  margin-left: 20px;
}